Ex3/activitats.dtd

<!ELEMENT activitats (activitat+)>
<!ELEMENT activitat (nom, monitor, horari?, participant+, lloc)>
<!ELEMENT nom (#PCDATA)>
<!ELEMENT monitor (#PCDATA)>
<!ELEMENT horari (#PCDATA)>
<!ELEMENT participant (#PCDATA)>
<!ELEMENT lloc (#PCDATA)>
<!ATTLIST activitat codi CDATA #REQUIRED
                    tipus (esportiva | artistica) #REQUIRED>
